 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>Teddie is an experienced real estate agent serving the greater Birmingham area. Her passion is working with <i>you</i> to find your next home or sell your current home. What truly sets her apart is how she spends time to understand your specific needs and guide you through the buying and selling process.</p>
                </div>
            </div>
        </div>
    </section>
